#extesea-admin-blocks-list tr {
  background-color: transparent;
}
#extesea-admin-blocks-list tr.extesea-form {
  background-color: #edf5fa;
}
#extesea-enabled {
	width: 10%;
}
#extesea-title {
	width: 45%;
}
#extesea-fields {
	width: 45%;
}
fieldset.extesea-field {
  background: none;
}
.extesea-field .form-item {
  float: left;
  width: 50%;
}
html.js .extesea-form th {
  background: url(../images/collapsed.gif) left center no-repeat;
  cursor: pointer;
  padding-left: 15px;
}
html.js .extesea-form th.expanded {
  background-image: url(../images/expanded.gif);
}
html.js .extesea-engine {
  display: none;
}